{% extends 'templates/base.html.twig' %}
{% block content %}
<div class="container">
    <div class="col-12 mt-5 mb-5 background_grey">
        <div class="pt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a class="color_grey" href="/home">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a class="color_grey" href="">
                            <i class="fab fa-forumbee"></i> {{ forum.name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="fas fa-folder"></i> {{ topic.name }}
                    </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 pl-lg-5 pr-lg-5">
                <h2 class="col-12 mt-3"><i class="fab fa-jedi-order"></i> {{ title }}</h2>
                <p class="col-12">{{ description }}</p>
                <table class="home_forum" style="width:100%;">
                    <tbody class="container-fluid">
                    
                    </tbody>
                </table>
                <div class="offset-4">
                    <span class="pagination" pagination1="{{ pagination1 }}" pagination2="{{ pagination2 }}">Dooooollars</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}